fastapi
uvicorn
pydantic
python-dotenv

openai
tavily-python

langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-cohere

chromadb
pymilvus
cohere

pymupdf
unstructured
rank-bm25
